<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Items</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Unit</td>
        <td>Id</td>
        <!--<td>Parent Id</td>-->
    </tr>
    </thead>
    <tr th:each="item: ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${#strings.arraySplit(item.getQuantity(),'.')[1]==0 ? #strings.arraySplit(item.getQuantity(),'.')[0] : item.getQuantity()}"></td>
        <td th:text="${item.getUnit()}"></td>
        <td th:text="${item.getId()}"></td>
        <!--<td th:text="${item.getParentId()==0 ? '' : item.getParentId()}"></td>-->
    </tr>
</table>
<div>
    <table th:each="receipe : ${receipes}" th:id="${receipe.getId()}">
        <thead>
        <tr th:text="${receipe.getName()}"></tr>
        
        <tr>
            <td>Name</td>
            <td>Quantity</td>
            <td>Unit</td>
            <td>Id</td>
            <!--<td>Parent Id</td>-->
        </tr>
        </thead>
        <tr th:each="ingredient : ${receipe.getIngredients()}">
            <td th:text="${ingredient.getName()}"></td>
            <td th:text="${#strings.arraySplit(ingredient.getQuantity(),'.')[1]==0 ? #strings.arraySplit(ingredient.getQuantity(),'.')[0] : ingredient.getQuantity()}"></td>
            <td th:text="${ingredient.getUnit()}"></td>
            <td th:text="${ingredient.getId()}"></td>
            <!--<td th:text="${item.getParentId()==0 ? '' : item.getParentId()}"></td>-->
        </tr>
    </table>
</div>
</body>
</html>