html {
    font-family: system-ui;
}

body {
    display: flex;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
}

td {
    border: solid black 1px;
    padding: 1em;
    text-align: center;
}